// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

//
// box-sizing()
//
// @param {string} $value Type of box-sizing, "border" or "content".
//

@mixin box-sizing($value: border) {
    @if ($value == border) {
        $value: border-box
    }

    @if ($value == content) {
        $value: content-box
    }

    * {
        box-sizing: $value;

        &::before,
        &::after {
            box-sizing: inherit;
        }
    }
}
